*{
  margin: 0px;
  padding: 0px;
}
.c-HeroSection {
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 70vh;
  overflow: hidden;
}
.c-HeroSection-VideoBg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
.c-HeroSection-Intro {
  width: 80%;
  margin: 0px auto;
  text-align: center;
}