.c-SchoolCard {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

@media (min-width: 640px) and (max-width: 767px) { 
  .c-SchoolCard-wrapper {
    display: inline-flex;
    width: 40%;
    margin: 0px 31px;
  }
}

@media (min-width: 768px) { 
  .c-SchoolCard-wrapper {
    width: 29%;
  }
}

@media (min-width: 769px) { 
  .c-SchoolCard-wrapper {
    width: 30%;
  }
}