*{
  margin: 0px;
  padding: 0px;
}
.c-StateHeroSection {
  background-color: #000000cf;
  min-height: 50vh;
}
.c-StateHeroSection-Intro {
  width: 80%;
  margin: 0px auto;
}

@media (min-width: 768px) { 
  .c-StateHeroSection {
    min-height: 30vh;
  }
}